@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #896baf;
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 10px;
  border: 3px solid #2d3748;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4a5568;
}
